body{
    background-image: url("../images/concrete_seamless.png");
    font-family: 'Alegreya Sans Sc', serif;
    background-color: #f1f1f1;
}
header{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav_links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav_item a:visited{
    color: #0000FF;
}

.card > header{
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.pricing{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    flex-basis: 450px;
}

#image1{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

#image2{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

#image3{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

#image4{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

#image5{
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

#logo{
    animation-name: grow;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes grow{
    from{
        width: 50px;
        opacity: 0;
    }

    to{
        width: 425px;
        opacity: 1;
    }
}


@media screen and (min-width: 850px){

    header{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top:0;
        align-items: center;
    }

    .nav_links{
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .card > header{
        justify-content: center;
        position: static;
    }

    .card{
        flex-basis: 250px;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    /*Turn off transition*/
    #logo{
      -webkit-animation: initial; /* sets to default setting */
      animation: initial; /* sets to default setting */
    }
}

@media print{

    header{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    body{
        background-image: none;
    }
    
    .nav_links{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    nav{
        width: 100%
    }

    .gallery, #gallery{
        display: none;
    }

    .card{
        border-width: 2px;
        border-style: solid;
        border-color: #45ADDD;
        flex-basis: 250px;
    }

    .pricing{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card li:first-child::before{
        content: "👍";

    }

    .card li:last-child::before{
        content: "👍";
    
    }

    .card li:nth-child(2)::after{
        content: "👍";


    }
}